<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.brandcolor</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>221025C2-26B2-4105-B171-A62E18219FBD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91316D90-4247-4337-A464-E31C25493331</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>352E3906-7991-41D9-BC8F-013729550373</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Cage open in browser</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>moschan</string>
	<key>description</key>
	<string>You can get the brand colors
Get the Nicolas Cage image for dummy image using PlaceCage</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>BrandColor</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>91316D90-4247-4337-A464-E31C25493331</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>bc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>I'm searching brand now...</string>
				<key>script</key>
				<string>$query = urlencode( "{query}" );
require_once("main.php");</string>
				<key>subtext</key>
				<string>BrandColor (keyword: bc)</string>
				<key>title</key>
				<string>service name</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>221025C2-26B2-4105-B171-A62E18219FBD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>352E3906-7991-41D9-BC8F-013729550373</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>221025C2-26B2-4105-B171-A62E18219FBD</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>352E3906-7991-41D9-BC8F-013729550373</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>91316D90-4247-4337-A464-E31C25493331</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/moschan/alfred-cage-workflow</string>
</dict>
</plist>
